# Django Settings
DEBUG=True
SECRET_KEY=ваш_секретный_ключ_тут
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

# Database
DB_NAME=vesna
DB_USER=root
DB_PASSWORD=root
DB_HOST=db
DB_PORT=5432

# Ports
DJANGO_PORT=8000
DB_PORT=5432
ADMINER_PORT=8080